:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61fbbb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: #333; 
  color: #ecd5d5; 
  font-family: "DM Sans", sans-serif; 
  margin: 0; 
  padding: 0;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.about {
  margin: 50px;
  line-height: 1.2;
  color: #ecd5d5;
  padding: 20px; 
}

h2 {
  line-height: 1.2; 
  margin: 0; 
}

a {
  color: rgb(254, 120, 120); 
}

a:visited {
  color: #883a3a; 
}
