:root {
  --bg: #282c34;
  --header: #fff;
  --link: #f49f9f;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: #333; 
  color: #ecd5d5; 
  font-family: "DM Sans", sans-serif; 
  margin: 0; 
  padding: 0;
  height: 100vh; 
}

h3 {
  margin: 0; 
  padding: 10px; 
}

nav {
  position: fixed; 
  top: 0;
  width: 100%; 
  background-color: rgb(106, 36, 36); 
  color: var(--link); 
  padding: 10px 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a,
nav button { 
  color: var(--link);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  color: #ff8b8b; 
}

h2 {
  line-height: 1.2;
  margin: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Makes the container fill the height of the viewport */
  text-align: center; /* Centers the text within the container */
}

.about {
  margin: 50px;
  line-height: 1.2;
  color: #ecd5d5;
  padding: 20px; 
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Makes sure the content fills the height of the viewport */
  text-align: center; /* Centers the text inside the container */
  max-width: 600px; /* Limits the width of the container */
  width: 100%; /* Ensures the container takes full width of smaller screens */
  margin: 0 auto; /* Horizontally centers the container */
  padding: 20px;
}

.homepage-container {
  line-height: 1.6;
  color: #ecd5d5;
  padding: 40px; 
  margin: 0 auto;
  max-width: 600px; 
  text-align: center; 
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  background: white; /* Background color for the calendar */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
}

.calendar-period {
  margin: 10px 0; /* Spacing between periods */
  padding: 10px;
  border: 1px solid #ccc; /* Optional: border for periods */
  border-radius: 5px; /* Optional: rounded edges */
  width: 100%; /* Take full width of the container */
  max-width: 300px; /* Max width for the periods */
  text-align: center; /* Center text within each period */
}

.period-day {
  background: #ffcccb;  /* Light red background */
  border-radius: 50%;
}

.period-dot {
  color: rgb(81, 0, 0);
  font-size: 1.2em;
}

.button {
  display: inline-block; 
  padding: 5px 10px;
  margin: 7px 0; 
  background-color: rgb(106, 36, 36); 
  color: var(--link); 
  text-decoration: none; 
  border-radius: 5px; 
  border: none; 
  box-shadow: none; 
  transition: background-color 0.3s; 
  cursor: pointer;
}

.button:hover {
  background-color: #ff8b8b;
}

a {
  color: rgb(251, 218, 218); 
}