:root {
  --bg: #282c34;
  --header: #fff;
  --link: #f49f9f;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: #333; 
  color: #ecd5d5; 
  font-family: "DM Sans", sans-serif; 
  margin: 0; 
  padding: 0;
  height: 100vh; 
}

h3 {
  margin: 0; 
  padding: 10px; 
}

nav {
  position: fixed; 
  top: 0;
  width: 100%; 
  background-color: rgb(106, 36, 36); 
  color: var(--link); 
  padding: 10px 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a,
nav button { 
  color: var(--link);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  color: #ff8b8b; 
}

h2 {
  line-height: 1.2;
  margin: 0;
}

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: auto; 
  text-align: center; 
  margin-top: 70px;
  width: 100%;
  max-width: 600px; 
  margin: 100px auto; 
  background-color: rgb(106, 36, 36);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
}

.inputContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px;
}

.periodButton {
  display: inline-block; 
  padding: 5px 10px;
  margin: 7px 0; 
  background-color: #ff8b8b;
  color: rgb(106, 36, 36); 
  text-decoration: none; 
  border-radius: 5px; 
  border: none; 
  box-shadow: none; 
  transition: background-color 0.3s; 
  cursor: pointer;
}

.button:hover {
  background-color: #642121;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; 
}

.about {
  margin: 50px;
  line-height: 1.2;
  color: #ecd5d5;
  padding: 20px; 
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; 
  max-width: 600px;
  width: 100%; 
  margin: 0 auto;
}

.homepage-container {
  line-height: 1.6;
  color: #ecd5d5;
  padding: 40px; 
  margin: 0 auto;
  max-width: 600px; 
  text-align: center; 
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #f9f9f9; /* Light background for the box */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  width: 90%; /* Adjust width as necessary */
  max-width: 500px; /* Smaller width to fit better on the screen */
  margin: 80px auto 20px auto; /* Center the box and give it some space above and below */
}


.calendar-period {
  margin: 10px 0; 
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 100%; 
  max-width: 300px;
  text-align: center;
}

.period-day {
  background: #ffcccb; 
  border-radius: 50%;
}

.period-dot {
  color: rgb(169, 20, 20);
  font-size: 1.2em;
}

.button {
  display: inline-block; 
  padding: 5px 10px;
  margin: 7px 0; 
  background-color: rgb(106, 36, 36); 
  color: var(--link); 
  text-decoration: none; 
  border-radius: 5px; 
  border: none; 
  box-shadow: none; 
  transition: background-color 0.3s; 
  cursor: pointer;
}

.button:hover {
  background-color: #ff8b8b;
}

a {
  color: rgb(251, 218, 218); 
}